@media screen and (min-width: 600px) {
  /* Navigation Bar */
  header {
    list-style-type: none;
  }

  .nav {
    justify-content: center;
    font-weight: bold;
  }

  .navbar {
    font-weight: 700;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .dropdown-item {
    font-weight: bold;
  }

  /* Caruosel */
  

  

  /* Top 3 Best Products */

  .section2 {
    text-transform: uppercase;
    margin-top: 100px;
  }

  .h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 45px;
  }

  .top-products {
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    margin: auto;
    margin-top: 100px;
  }

  .top3:hover {
    transform: scale(1.1);
  }

  /* Articles */

  .section3 {
    text-transform: uppercase;
    margin-top: 100px;
  }

  .h3 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 45px;
  }

  .Articles {
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    margin: auto;
    margin-top: 100px;
  }

  .btn {
    width: 100%;
  }

  /* Footer */

  footer {
    background-color: #004a82;
    margin-top: 5%;
  }

  footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
  }

  #section {
    background-color: #0082e4;
  }

  .hrline {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
  }

  .copyright {
    background-color: black;
  }

  /* Store */

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .card {
    width: 350px;
    margin: 20px auto;
  }

  .card-title {
    text-align: center;
  }

  .price-holder {
    display: inline-flex;
    width: 100%;
  }

  .price {
    text-align: center;
  }

  .line-through-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
    margin-inline-start: 38%;
  }

  .btn-store {
    width: 100%;
  }

  /* product page */

  img {
    max-width: 100%;
    height: auto;
  }

  .price-detail {
    font-size: 20px;
  }

  .detail-h2 {
    font-size: 24px;
    color: #0082e4;
    margin-top: 20px;
  }

  .btn-dec {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
  }

  .btn-detail {
    background-color: #0082e4;
    border-color: #0082e4;
    font-size: 18px;
    margin-top: 20px;
  }

  /* Sign-Up page */

  .Sign-in-page{
    display: flex;
    justify-content: center;
  }

  .sign-in-line{
    width: 200%;
  }

  /* Cart Page */

  .cart-link{
    position: absolute;
    right: 5%;
  }

  .shop-bag{
    font-size: 22px;
  }

  .red-dot{
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: rgb(255, 1, 1);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-page{
    background-color: #eee;
  }

  .detail-product{
    width: 100%;
    height: 150%;
  }

  .btn-pos-apply{
    width: 33%;
    
  }

  .fa-trash{
    font-size: 60px;
  }

  .hr-cart {
    background: linear-gradient(to right, darkblue, violet);
    height: 3px;
  }

  .total {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .btn-checkout {
    background: linear-gradient(to right, darkblue, violet);
    font-size: 18px;
    margin-top: 20px;
    display: block;
  }

  .delet-store-btn{
    font-size: 20px;
  }

  /* admin-page */

  .products-mange{
    display: flex;
    justify-content: center;
  }

  .Admin-h1{
    text-align: center;
  }

  .btn-checkout-manger{
    background: linear-gradient(to right, darkblue, violet);
    font-size: 18px;
    margin-top: 20px;
    width: 33%;
    margin-left: 33px;
    margin-top: 200px;
    display: inline;
  }


  /* admin-page : add product*/

  .manger-add-product{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .manger-add-product h3{
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 42px;
  }

  .add-product-line{
    width: 170%;
  }

  .text-area-line{
    width: 160%;
  }

  /* #add-img{
    width: 800%;
    height: 800%;
  } */

  /* admin-page : product list */

  .btn-edit{
    font-size: 22px;
  }


  .product-list-page h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 42px;
  }
  .btn-mange{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 100px;
    gap: 100px;
    
  }

  

}
